@(host:String)

<!DOCTYPE html>

<html>
    <head>
        <title>Jira to Sladiator</title>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
        <header id="header">
			<div class="container">
				<a href="http://www.rhinofly.nl/" title="Ga naar rhinofly.nl, de homepage van Rhinofly">
					<img class="logo" src="@routes.Assets.at("images/logo.png")" />
				</a>
				<span class="title">Jira to Sladiator</span>
				<a href="http://www.frank-ly.nl" title="Ga naar frank-ly.nl, het corporate weblog van Rhinofly">
					<img class="frank-ly" src="@routes.Assets.at("images/frankly.png")" />
				</a>
			</div>
		</header>
		
		<div class="container">
			<section>
				<h1>Description</h1>
				<p>
					This is a free site that can be used as a proxy from <a href="www.atlassian.com/JIRA">Jira</a>
					webhooks to the API of <a href="http://sladiator.com/">Sladiator</a>.
				</p>
			</section>

			<section>
				<h1>Usage</h1>
				<p>
					Simply point your Jira webhook to: <code>http://@host/webhook/{SLA Token}</code>
				</p>
				<p>
					An example: <code>http://@host/webhook/4bx60a464xd23b5x2ad715cc1fc059be8cc1a9eb</code>
				</p>
			</section>

			<section>
				<h1>Source</h1>
				<p>
					Hosted at GitHub: <a href="https://github.com/Rhinofly/JiraToSladiator">https://github.com/Rhinofly/JiraToSladiator</a>
				</p>
			</section>
		</div>
    </body>
</html>